article {
  @apply flex flex-col   px-4 items-center md:items-center   w-screen h-auto py-12 gap-12 md:flex-row  md:px-24;
}
section {
  @apply text-start w-[90%];
}
section h1 {
  @apply text-2xl text-center font-bold md:text-6xl md:text-left w-[70%];
  line-height: 2;
}
section h1 span {
  @apply text-[#00ffff]  underline font-extrabold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 3px;
}
.hero-img {
  @apply h-[400px] w-[50%];
}
