.Landing--page {
  @apply flex flex-col w-full md:gap-12 gap-24 h-screen items-center  justify-center;
  background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(33, 30, 32, 1) 35%,
      rgba(125, 249, 255, 0.7483368347338936) 100%
    ),
    url("../../assets/pexels-alesia-kozik-6772077.jpg");
  background-position: center;
  background-size: cover;
}

.landing-section {
  @apply text-start flex  flex-col items-center pb-12 w-[70%];
}
.landing-section h1 {
  @apply text-4xl text-[#ffffff] text-center font-bold md:text-7xl;
  line-height: 2;
}

.landing-section h1 span {
  position: relative;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 3px;
  border-bottom: 10px solid transparent;
  padding-bottom: 10px;
  /* For WebKit-based browsers */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(0, 249, 255, 1) 70%,
    rgba(0, 255, 239, 1) 100%
  );
  /* For non-WebKit browsers */
  background-clip: text;
  -webkit-text-stroke: 0.5px transparent;
}
.landing-section h1 span span {
  font-family: "Kaushan Script", cursive;
}
.landing-section h1 span::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 10px;
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(125, 249, 255, 1) 35%,
    rgba(0, 255, 239, 1) 100%
  );
}
.landing-section h3 {
  @apply text-3xl font-medium text-center text-white;
}
.hero-img {
  @apply h-[400px] w-[50%];
}
.landing-section p {
  @apply text-white  md:h-auto h-24   text-xl text-center font-thin break-words;
}
.discri {
  @apply text-white font-thin;
  text-decoration: none;
}
.buttons {
  @apply flex w-full justify-center gap-12;
}
.buttons button {
  @apply w-[35%] md:w-[15%] h-12 flex items-center justify-center gap-4 text-lg;
}
/* Market Section  */
#currencies {
  @apply flex gap-12 p-10 items-start  xl:items-center overflow-x-scroll lg:overflow-hidden flex-col  w-full  h-auto;
  font-family: "Inter", sans-serif;
  border-radius: 10px;
}

.cur--name {
  @apply flex   font-bold  items-center   h-14  lg:min-w-[10%] gap-3;
}
.name {
  @apply w-[100px] lg:w-auto flex h-full  text-start items-center   gap-2;
}
.name span {
  @apply w-[100px];
}
.curr--section {
  @apply flex    justify-center gap-12 font-bold;
}
.crypto-list {
  @apply flex lg:w-auto lg:gap-12    gap-12 flex-row h-14;
}
.crypto-list li {
  @apply flex lg:w-40 w-[100px] overflow-y-hidden  flex-row   justify-start   text-start gap-2 items-center overflow-x-scroll md:overflow-x-hidden   text-base;
  border-radius: 10px;
}
.currencies--article {
  @apply flex flex-col   justify-between gap-12;
}

/* Market Cap Carroussel  */
.MarketCap-ranking {
  @apply flex flex-col px-4 py-2 h-[252px]  lg:w-[55%] w-full  gap-4;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.MarketCap-ranking .tittle {
  @apply text-3xl font-bold;
}
.Marketcap-carr {
  @apply relative flex justify-center items-center w-full  px-2;
}
.car-buts {
  @apply absolute flex justify-between w-full left-0 text-black;
}
.car-buts button {
  @apply rounded-full  text-xl p-1 font-bold text-center flex items-center  lg:h-8 lg:w-8 w-6 h-6;
}
.Marketcap-slide {
  @apply flex min-w-[90%] lg:min-w-[400px]  gap-2 h-[100%] py-2 flex-col rounded-lg items-center;
}
.Marketcap-slide figure {
  @apply flex  gap-3 text-xl font-bold items-center;
}
.Marketcap-slide figure h1 span {
  @apply font-thin;
}
.Marketcap-slide figure img {
  @apply h-12 w-12;
}
.Marketcap-slide h3 {
  @apply text-green-500 font-bold text-lg flex  gap-3 items-center;
}
/* Post Carroussel */
.Top-post {
  @apply lg:w-[40%] w-[95%]   lg:gap-6  gap-2   lg:px-4  relative justify-center  flex overflow-hidden;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.Top-post section {
  @apply min-w-[100%]  relative flex gap-4 flex-col;
}
.cont-tittle {
  @apply lg:text-3xl text-lg px-2  font-bold;
}
.user {
  @apply flex  justify-start font-bold gap-2 lg:gap-4 text-base items-center lg:text-xl;
}

.content {
  @apply flex flex-col p-2  gap-4;
}
.content li {
  @apply flex  items-center  w-full   justify-between px-2;
}
.content li button {
  @apply 2xl:mr-12 md:mr-6 mr-2 flex items-center h-10 lg:w-[15%] text-gray-700  md:w-[20%]  text-lg font-bold p-2 gap-3 justify-center text-center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.Logo {
  @apply p-4 h-5 w-5 flex items-center  text-center justify-center font-extrabold rounded-full;
}
.content .user .userName {
  @apply lg:text-sm  text-xs font-thin;
}
.dots {
  @apply absolute bottom-0;
}
.post-infos {
  @apply flex  font-bold lg:text-lg   text-gray-500/75 items-center gap-5;
}
.post-infos .icon,
.like {
  @apply flex gap-3 font-bold items-center;
}
