.Landing--page {
  @apply flex flex-col w-full md:gap-12 gap-24 h-screen items-center  justify-center;
  background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(33, 30, 32, 1) 35%,
      rgba(125, 249, 255, 0.7483368347338936) 100%
    ),
    url("../../assets/pexels-alesia-kozik-6772077.jpg");
  background-position: center;
  background-size: cover;
}

.landing-section {
  @apply text-start flex  flex-col items-center pb-12 w-[70%];
}
.landing-section h1 {
  @apply text-4xl text-[#ffffff] text-center font-bold md:text-7xl;
  line-height: 2;
}

.landing-section h1 span {
  position: relative;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 3px;
  border-bottom: 10px solid transparent;
  padding-bottom: 10px;
  /* For WebKit-based browsers */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(0, 249, 255, 1) 70%,
    rgba(0, 255, 239, 1) 100%
  );
  /* For non-WebKit browsers */
  background-clip: text;
  -webkit-text-stroke: 0.5px transparent;
}
.landing-section h1 span span {
  font-family: "Kaushan Script", cursive;
}
.landing-section h1 span::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 10px;
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(125, 249, 255, 1) 35%,
    rgba(0, 255, 239, 1) 100%
  );
}
.landing-section h3 {
  @apply text-3xl font-medium text-center text-white;
}
.hero-img {
  @apply h-[400px] w-[50%];
}
.landing-section p {
  @apply text-white  md:h-auto h-24   text-xl text-center font-thin break-words;
}
.discri {
  @apply text-white font-thin;
  text-decoration: none;
}
.buttons {
  @apply flex w-full justify-center gap-12;
}
.buttons button {
  @apply w-[35%] md:w-[15%] h-12 flex items-center justify-center gap-4 text-lg;
}
/* Market Section  */
#currencies {
  @apply flex gap-12 p-10 items-start lg:items-start  overflow-x-scroll lg:overflow-auto flex-col  w-full  h-auto;
  font-family: "Inter", sans-serif;
  border-radius: 10px;
}

.cur--name {
  @apply flex   font-bold  items-center   h-14 w-auto lg:min-w-[10%] gap-3;
}
.name {
  @apply w-[200px] flex  gap-2;
}
.name span {
  @apply w-[200px];
}
.curr--section {
  @apply flex   font-bold items-center;
}
.crypto-list {
  @apply flex w-auto gap-12 flex-row h-14;
}
.crypto-list li {
  @apply flex lg:w-40 min-w-[150px]  flex-row  justify-center text-center gap-2 items-center overflow-x-scroll lg:overflow-x-hidden  text-base;
  border-radius: 10px;
}
.currencies--article {
  @apply flex flex-col   justify-between gap-12;
}
.curr--section {
  @apply flex;
}
