:root {
  /* Colors - Light Mode */
  --primary-color-light: #7df9ff; /* Blue */
  --secondary-color-light: #00ffff; /* Cyan */

  /* Colors - Dark Mode */
  --primary-color-dark: #7df9ff; /* Blue */
  --secondary-color-dark: #00ffff; /* Cyan */

  /* Common Colors */
  --background-color: #000000; /* Black */
  --text-color: #ffffff; /* White */
}
button {
  transition: all ease 0.2s;
}
/* Light Mode Styles */
/* .light-mode {
  --primary-color: var(--primary-color-light);
  --secondary-color: var(--secondary-color-light);
  --background: var(--background-color);
  --text: var(--text-color); */

/* Dark Mode Styles */
/* .dark-mode {
  --primary-color: var(--primary-color-dark);
  --secondary-color: var(--secondary-color-dark);
  --background: var(--text-color);
  --text: var(--background-color);
} */

.dark-mode {
  @apply text-[#fffafb] bg-[#131515];
}
.light-mode {
  @apply text-[#131515] bg-[#fffafb];
}
body {
  margin: 0;
  overflow: hidden;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
/* navBar */
nav {
  @apply w-screen flex justify-between   px-12 py-4 items-center;
  z-index: 50;
}
.Nav--logo {
  @apply text-2xl font-bold;
}

.nav--links {
  @apply gap-4 md:flex hidden;
}
.nav--links a {
  @apply duration-200  ease-in-out;
}
.nav--links a:hover {
  @apply underline -translate-y-0.5;
}
.nav--buttons {
  @apply flex flex-row items-center  w-auto gap-12;
}
.darkmode--toggler {
  @apply px-1 flex flex-row bg-white text-[var(--primary-color-dark)] items-center h-6 w-auto lg:w-[50px]  justify-around rounded-xl  relative;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 5%,
    rgba(0, 255, 255, 1) 50%,
    rgba(125, 249, 255, 1) 100%
  );
}
.darkmode--toggler button {
  @apply p-2  bg-white    rounded-full  absolute;
  border: 4px solid #858585;
  transition: ease-in 0.2s;
}
.menu--button {
  @apply z-50 text-2xl md:hidden block;
}
/* Pannel styiling */
#Pannel {
  @apply fixed h-screen w-[80%]  flex  flex-col justify-between  right-0 top-0 px-12 py-24;

  z-index: 10;
  transition: all ease 0.2s;
  box-shadow: -12px 13px 50px 55px rgba(0, 0, 0, 0.3);
}
.dark-mode-menu {
  @apply bg-[#fffafb] text-[#2b2c28];
}
.ligth-mode-menu {
  @apply bg-[#2b2c28] text-[#fffafb];
}
.Pannel--links {
  @apply flex  flex-col cursor-pointer gap-6 text-lg;
}
.Pannel--links a:hover,
.Pannel--links a:focus {
  @apply underline -translate-y-1 font-bold;
}
.pannel-buttons {
  @apply flex gap-4  text-3xl cursor-pointer duration-200;
}
.pannel-buttons button {
  @apply p-2 rounded-full;
  transition: all ease-out 0.4s;
  border: 1px solid white;
}
.pannel-buttons button:hover {
  @apply rotate-[360deg] scale-125;
}
.dark-button {
  @apply bg-[#ffff] rounded-lg text-[#44555f];
}
.ligth-button {
  @apply bg-[#44555f] rounded-lg text-[#ffff];
}
.dark-button:hover,
.ligth-button:hover {
  @apply bg-[#858585] text-[#010b13];
  box-shadow: 0px 10px 15px 9px rgba(107, 105, 105, 0.2);
}
