:root {
  /* Colors - Light Mode */
  --primary-color-light: #7df9ff; /* Blue */
  --secondary-color-light: #00ffff; /* Cyan */

  /* Colors - Dark Mode */
  --primary-color-dark: #7df9ff; /* Blue */
  --secondary-color-dark: #00ffff; /* Cyan */

  /* Common Colors */
  --background-color: #000000; /* Black */
  --text-color: #ffffff; /* White */
}

/* Light Mode Styles */
/* .light-mode {
  --primary-color: var(--primary-color-light);
  --secondary-color: var(--secondary-color-light);
  --background: var(--background-color);
  --text: var(--text-color); */

/* Dark Mode Styles */
/* .dark-mode {
  --primary-color: var(--primary-color-dark);
  --secondary-color: var(--secondary-color-dark);
  --background: var(--text-color);
  --text: var(--background-color);
} */

.dark-mode {
  @apply text-[var(--text-color)] bg-black;
}
.light-mode {
  @apply text-black bg-white;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
/* navBar */
nav {
  @apply w-full flex justify-between px-12 py-4 items-center;
}
.Nav--logo {
  @apply text-2xl font-bold;
}
.Nav--logo span {
  @apply text-[var(--primary-color-dark)];
}
.nav--links {
  @apply gap-4 sm:flex hidden;
}
.nav--links a {
  @apply duration-200 ease-in-out;
}
.nav--links a:hover {
  @apply underline -translate-y-0.5;
}
.nav--buttons {
  @apply flex flex-row items-center  md:w-[30%] gap-12;
}
.darkmode--toggler {
  @apply px-1 flex flex-row bg-white text-[var(--primary-color-dark)] items-center h-6 w-[100%]  justify-around rounded-xl  relative;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 5%,
    rgba(0, 255, 255, 1) 50%,
    rgba(125, 249, 255, 1) 100%
  );
}
.darkmode--toggler button {
  @apply p-3 bg-white   rounded-full  absolute;
  border: 1px solid black;
}
